<div class="container-fluid">
  <div id="register-form">
    <form #loginForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" required [(ngModel)]="model.username" name="username"
               #username="ngModel">
        <div [hidden]="username.valid || username.untouched" class="alert alert-danger">Username is required!</div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email"
               #email="ngModel">
        <div [hidden]="email.value || email.untouched" class="alert alert-danger">Email is required!</div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password"
               #password="ngModel">
        <div [hidden]="password.valid || password.untouched" class="alert alert-danger">Password is required!</div>
      </div>

      <div class="form-group">
        <label for="confPassword">Confirm password</label>
        <input type="password" class="form-control" id="confPassword" required [(ngModel)]="model.confirmPwd"
               name="confPassword"
               #confPassword="ngModel">
        <div [hidden]="confPassword.valid || confPassword.untouched" class="alert alert-danger">Confirm password!</div>
      </div>

      <button type="submit" class="btn btn-success" (click)="onRegister()">Register</button>
    </form>
  </div>
</div>
