
#top-text {
  text-align: center;
  color: #42A948;
  margin-bottom: 32px;
}

#login-form {
  margin: auto;
  padding: 100px;
}

.btn-custom {
  color: #42A948;
  outline: none !important;
  background-color: lightgray;
  margin-top: 16px;
  float: left;
}

.btn-custom:active {
  color: white;
  background-color: #42A948;
  outline: none !important;
}

.btn-success {
  outline: none !important;
  margin-top: 16px;
  float: right;
}

.btn-success:active {
  color: #42A948;
  background-color: lightgray;
  outline: none !important;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid #42A948;
}
